:root{
    --colorCorp:#001F3F;
    --black:#000000;
    --magenta:#FF00FF;
    --white:#FFF;
    --title:35px;
    --text:19px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth; /*importante para el efecto scroll*/
}
body{
    font-family: 'Red Hat Text', sans-serif;
    background-color: rgb(202, 193, 193);
    overflow-x: hidden;/* quitar el scroll de abajo */
    
    
    
}

.bisel-abajo{
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-color: transparent transparent white transparent;
    border-style: solid;
}



/************************* Menu navegación **************************/

#inicio{
    position: relative;
    width: 100%;
}
.menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;
}
.menu .logo{
    margin-left: 20px;
}
.menu .logo h1 img{
    width: 110px;
    height: 110px;
}
.menu .list-content{
    margin-right: 20px;
}
.menu .list-content .lista{
    display: flex;
}
.menu .list-content .lista li{
    list-style: none;
}
.menu .list-content .lista li a{
    text-decoration: none;
    margin: 0 15px;
    padding: 8px;
    color: #fff;
    font-size: 15px;
    border-bottom: 1px solid transparent;
    transition: 0.9s;
}
.menu .list-content .lista li a:hover{
    border-bottom: 1px solid var(--magenta);
    color: #ececec;
}
.menu .list-content .lista li a.active{
    border-bottom: 1px solid var(--magenta);
    color: #ececec;
}







/********************* Imagen header *********************/

.img-header{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../assets/images/img-head.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.img-header .bienvenido{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.img-header .bienvenido h2{
    font-size: 50px;
    color: #fff;
    font-weight: 200;
}
.img-header .bienvenido p{
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
}
.img-header .bienvenido > button{
    width: 150px;
    height: 40px;
    background-color: var(--colorCorp);
    border-radius: 24px;
    color: #fff;
    border: none;
    margin-top: 22px;
    font-size: 17px;
    cursor: pointer;
    text-align: center;
    transition: 0.7s;
    outline: none;

}
.img-header .bienvenido > button:hover{
    background-color: var(--magenta);
}










/************************* Main **************************/

main{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 1400px;
    background-color: #fff;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    
}

/******** SLIDER 2 *********/


.slider2{
    width: 600px;
    max-width: 100vw;
    height: 400px;
    margin: 150px auto 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    
}
.list2{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}
.list2 img{
    width: 600px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.buttons2{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.buttons2 button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.dots2{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots2 li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}
.dots2 li.active2{
    width: 30px;
}




@media screen and (max-width: 768px){
    .slider2{
        height: 400px;
    }
}




/******** TEXT-G1 *********/


.text-g1{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.text-g1 h2{
    font-size: 60px;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
}
.text-g1 p{
    text-align: center;
    font-size: 1rem;
    color: #000;
    line-height: 35px;
    margin: 15px 0;
}












/******** TEXT-G2 *********/

.text-g2{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.text-g2 h2{
    font-size: 60px;
    font-weight: 400;
    color: #000;
    text-align: center;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
}
.text-g2 p{
    text-align: center;
    font-size: 1rem;
    color: #000;
    line-height: 35px;
    margin: 15px 0;
}





/******** SLIDER 3 *********/



.slider3{
    width: 600px;
    max-width: 100vw;
    height: 400px;
    margin: 150px auto 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    
}
.list3{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}
.list3 img{
    width: 600px;
    max-width: 100vw;
    height: 100%;
    object-fit: cover;
}
.buttons3{
    position: absolute;
    top: 45%;
    left: 5%;
    width: 90%;
    display: flex;
    justify-content: space-between;
}
.buttons3 button{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: monospace;
    font-weight: bold;
}
.dots3{
    position: absolute;
    bottom: 10px;
    color: #fff;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.dots3 li{
    list-style: none;
    width: 10px;
    height: 10px;
    background-color: #fff;
    margin: 20px;
    border-radius: 20px;
    transition: 1s;
}
.dots3 li.active3{
    width: 30px;
}




@media screen and (max-width: 768px){
    .slider3{
        height: 400px;
    }
}









/*********** Scroll ************/



.go-top{
    position: fixed;
    bottom: 100px;
    right: -100px;
    width: 35px;
    height: 35px;
    background-color: white;
    border: 2px solid var(--colorCorp);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    transition: 0.7s;
}
.go-top > span{
    font-size: 1.6rem;
    color: var(--black);
}
.go-top:hover{
    background-color: var(--magenta);
    color: #fff;
    border: 2px solid var(--white);
}
.go-top:hover span{
    color: var(--white);
}











/****************************** Footer *******************************/



@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Open+Sans:wght@400;700&family=Shadows+Into+Light&display=swap');

.footer{
    width: 100%;
    background-color:  #000;
    position: absolute;
}
.footer .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 45px 0px;

}
.footer .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer .grupo-1 .box figure img{
    width: 300px;
    height: 200px;
}
.footer .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 23px;
}
.footer .grupo-1 .box ul li{
    margin-bottom: 15px;
    font-size: 14px;
}
.footer .grupo-1 .box ul li a{
    text-decoration: none;
    color: #fff;
    transition: 0.9s;
}
.footer .grupo-1 .box ul li span{
    text-decoration: none;
    color: #fff;
}
.footer .grupo-1 .box ul li span:hover{
    color: #fff;
}
.footer .grupo-1 .box ul li a:hover{
    color: var(--magenta);
}
.footer .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: var(--colorCorp);
    text-align: center;
    transition: 0.9s;
}
.footer .grupo-1 .red-social a:hover{
    color: var(--magenta);
}
.footer .grupo-2{
    background-color: var(--colorCorp);
    padding: 15px 10px;
    text-align: center;
    border-top: 2px solid #fff;
    color: #fff;
}





/************************************ Media Querys *******************************************/

@media only screen and (max-width:900px){
    .btn-menu > .fa-bars{
        display: block;
        position: absolute;
        top: 20px;
        right: 30px;
        font-size: 25px;
        color: var(--colorCorp);
        cursor: pointer;
        transition: 0.5s;
    }
    .btn-menu > .fa.times{
        color: var(--colorCorp);
    }
    .btn-menu > .fa-bars:hover{
        color: var(--black);
    }
    .menu .logo{
        margin-left: 30px;
    }
    .menu .list-content{
        position: fixed;
        top: 60px;
        left: -100%; /* ocultar */
        background-color: white;
        width: 100%;
        height: calc(100vh - 60px);
    }
    .menu .list-content .lista{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top: 3px solid var(--colorCorp);
    }
    .menu .list-content .lista li{
        border-bottom: 1.5px solid var(--black);
        width: 90%;
        display: flex;
        justify-content: center;
    }
    .menu .list-content .lista li a{
        padding: 11px 0;
        font-size: 20px;
        color: var(--black);
    }
    .menu .list-content .lista li a.active{
        border: none;
        color: var(--magenta);
    }
    .menu .list-content .lista li a:hover{
        border: none;
        color: var(--magenta);
    }
};







/**************************************IMG-HEADER******************************************/


@media only screen and (max-width:900px){
    .img-header .bienvenido h2{
        font-size: 40px;
    }
    .img-header .bienvenido button{
        width: 130px;
        font-size: 20px;
    }
}

@media only screen and (max-width:773px){
    .img-header .bienvenido h2{
        font-size: 30px;
    }
    .img-header .bienvenido button{
        width: 130px;
        font-size: 17px;
    }
    .img-header .bienvenido p{
        font-size: 17px;
    }
}





/************************* Main **************************/

main{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    height: 1300px;
    background-color: #fff;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    
}

/******** SLIDER 2 *********/


@media screen and (max-width: 773px){
    .slider2{
        width: 250px;
        max-width: 50vw;
        height: 300px;
        margin: 150px auto 20px auto;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        
    }
    .list2{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        width: max-content;
        transition: 1s;
    }
    .list2 img{
        width: 250px;
        max-width: 50vw;
        height: 300px;
        object-fit: cover;
    }
    .buttons2{
        position: absolute;
        top: 45%;
        left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .buttons2 button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff5;
        color: #fff;
        border: none;
        font-family: monospace;
        font-weight: bold;
    }
    .dots2{
        position: absolute;
        bottom: 10px;
        color: #fff;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .dots2 li{
        list-style: none;
        width: 10px;
        height: 10px;
        background-color: #fff;
        margin: 20px;
        border-radius: 20px;
        transition: 1s;
    }
    .dots2 li.active2{
        width: 30px;
    }

    /******** TEXT-G1 *********/


    .text-g1{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    .text-g1 h2{
        font-size: 20px;
        font-weight: 200;
        color: #000;
        text-align: center;
        margin-top: 20px;
        font-family: 'Playfair Display', serif;
    }
    .text-g1 p{
        text-align: center;
        font-size: 10px;
        color: #000;
        line-height: 35px;
        margin: 15px 0;
    }
}



@media screen and (min-width: 773px) and (max-width: 1200px){
    .slider2{
        width: 350px;
        max-width: 50vw;
        height: 350px;
        margin: 150px auto 10px auto;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        
    }
    .list2{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        width: max-content;
        transition: 1s;
    }
    .list2 img{
        width: 350px;
        max-width: 50vw;
        height: 350px;
        object-fit: cover;
    }
    .buttons2{
        position: absolute;
        top: 45%;
        left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .buttons2 button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff5;
        color: #fff;
        border: none;
        font-family: monospace;
        font-weight: bold;
    }
    .dots2{
        position: absolute;
        bottom: 10px;
        color: #fff;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .dots2 li{
        list-style: none;
        width: 10px;
        height: 10px;
        background-color: #fff;
        margin: 20px;
        border-radius: 20px;
        transition: 1s;
    }
    .dots2 li.active2{
        width: 30px;
    }

    /******** TEXT-G1 *********/


    .text-g1{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    .text-g1 h2{
        font-size: 30px;
        font-weight: 200;
        color: #000;
        text-align: center;
        margin-top: 20px;
        font-family: 'Playfair Display', serif;
    }
    .text-g1 p{
        text-align: center;
        font-size: 14px;
        color: #000;
        line-height: 35px;
        margin: 15px 0;
    }


    
}

@media screen and (min-width: 773px) and (max-width: 1200px){
    .slider3{
        width: 350px;
        max-width: 50vw;
        height: 350px;
        margin: 150px auto 10px auto;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        
    }
    .list3{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        width: max-content;
        transition: 1s;
    }
    .list3 img{
        width: 350px;
        max-width: 50vw;
        height: 350px;
        object-fit: cover;
    }
    .buttons3{
        position: absolute;
        top: 45%;
        left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .buttons3 button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff5;
        color: #fff;
        border: none;
        font-family: monospace;
        font-weight: bold;
    }
    .dots3{
        position: absolute;
        bottom: 10px;
        color: #fff;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .dots3 li{
        list-style: none;
        width: 10px;
        height: 10px;
        background-color: #fff;
        margin: 20px;
        border-radius: 20px;
        transition: 1s;
    }
    .dots3 li.active3{
        width: 30px;
    }
    /******** TEXT-G2 *********/

    .text-g2{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    .text-g2 h2{
        font-size: 30px;
        font-weight: 200;
        color: #000;
        text-align: center;
        margin-top: 20px;
        font-family: 'Playfair Display', serif;
    }
    .text-g2 p{
        text-align: center;
        font-size: 14px;
        color: #000;
        line-height: 35px;
        margin: 15px 0;
    }
}




/******** SLIDER 3 *********/




@media screen and (max-width: 773px){
    .slider3{
        width: 250px;
        max-width: 50vw;
        height: 300px;
        margin: 150px auto 20px auto;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
        
    }
    .list3{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        display: flex;
        width: max-content;
        transition: 1s;
    }
    .list3 img{
        width: 250px;
        max-width: 50vw;
        height: 300px;
        object-fit: cover;
    }
    .buttons3{
        position: absolute;
        top: 45%;
        left: 5%;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .buttons3 button{
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #fff5;
        color: #fff;
        border: none;
        font-family: monospace;
        font-weight: bold;
    }
    .dots3{
        position: absolute;
        bottom: 10px;
        color: #fff;
        left: 0;
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }
    .dots3 li{
        list-style: none;
        width: 10px;
        height: 10px;
        background-color: #fff;
        margin: 20px;
        border-radius: 20px;
        transition: 1s;
    }
    .dots3 li.active3{
        width: 30px;
    }
    /******** TEXT-G2 *********/

    .text-g2{
        width: 80%;
        margin: auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
    .text-g2 h2{
        font-size: 20px;
        font-weight: 200;
        color: #000;
        text-align: center;
        margin-top: 20px;
        font-family: 'Playfair Display', serif;
    }
    .text-g2 p{
        text-align: center;
        font-size: 10px;
        color: #000;
        line-height: 35px;
        margin: 15px 0;
    }
}






/*************************************FOOTER*******************************************/

@media only screen and (max-width:900px){
    .footer .grupo-1 {
     width: 90%;
     padding: 20px;
     display: flex;
     flex-direction: column;
     justify-content: center;
     text-align: center; 
    }
}



@media only screen and (max-width:900px){
   .footer .ejez .f-container .formulario{
    width: 85%;
    padding: 20px;
   }
   .footer .ejez .f-container .formulario input{
    width: 100%;
   }
}

@media only screen and (max-width:590px){
    .footer .ejez .f-container .formulario{
        width: 90%;
        padding: 20px;
    }
    .footer .ejez .f-container .formulario input{
        width: 100%;
        font-size: 17px;
    }
    .footer .ejez .f-container .formulario textarea{
        width: 100%;
        font-size: 17px;
    }
    .footer .ejez .f-container .formulario label{
        font-size: 17px;
    }
}






@media only screen and (min-width:900px){
    .btn-menu > .fa-bars{
        display: none;
    }
}